a {
  text-decoration: none;
}

body {
  color: #40514E;
  font-family: 'Montserrat', sans-serif;
  margin: 0;
}

h1{
  padding-top: 50px;
}

a:visited{
  text-decoration: none;
  color: #40514E;
}

a:hover{
  color: #ABB2B9;
}

.a-navigation{
  margin: 10px 20px;
}

.cv-heading{
  margin: 80px auto 80px auto;
}

.container{
  max-width: 1012px;
  margin-left: auto;
  margin-right: auto;
}

.cv-navigation{
  text-align: center;
  padding: 10px;
}

.footer-info{
  text-align: center;
}

.img_footer{
  width:3%;
}

.img_profile {
  width: 15%;
  float: left;
  margin-right: 30px;
}
